<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteRegistroServlet</servlet-name>
        <servlet-class>Servlets.ClienteRegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarClienteServlet</servlet-name>
        <servlet-class>Servlets.EliminarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteRegistroServlet</servlet-name>
        <url-pattern>/ClienteRegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarClienteServlet</servlet-name>
        <url-pattern>/EliminarClienteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
